// colors
$watermelon-red: #e97877;
$mustard: #f9d677;
$lime: #dfd277;
$cyan: #4ccead;
$dark-blue: #348c9f;
$hot-pink: #dc6372;
$mud: #c18f6b;
$baby-blue: #73aad8;
$lavender: #c785da;
$tangerine: #fa9a4c;

.watermelon-red{
    color: $watermelon-red;
}

.bg-watermelon-red {
    background-color: $watermelon-red;
}

.mustard {
    color: $mustard;
}

.bg-mustard {
    background-color: $mustard;
}

.lime {
    color: $lime;
}

.bg-lime {
    background-color: $lime;
}

.cyan {
    color: $cyan;
}

.bg-cyan {
    background-color: $cyan;
}

.dark-blue {
    color: $dark-blue;
}

.bg-dark-blue {
    background-color: $dark-blue;
}

.hot-pink {
    color: $hot-pink;
}

.bg-hot-pink {
    background-color: $hot-pink;
}

.mud {
    color: $mud;
}

.bg-mud {
    background-color: $mud;
}

.baby-blue {
    color: $baby-blue;
}

.bg-baby-blue {
    background-color: $baby-blue;
}

.lavender {
    color: $lavender;
}

.bg-lavender {
    background-color: $lavender;
}

.tangerine {
    color: $tangerine;
}

.bg-tangerine {
    background-color: $tangerine;
}