html, body {
  height: 100%;
  position: relative;
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.navbar li a:link {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.10em;
  display: inline-block;
  padding: 15px 10px;
  position: relative;
}

.navbar li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbar li a:hover:after {
  width: 100%;
  left: 0;
}

a.navbar-brand {
  color: #ffffff;
  font-weight: 800;
}

.transparent {
  background-color: transparent;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

.transparent a {
  color: #ffffff;
}

.colored {
  background-color: #fcfcfc;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

.colored a {
  color: #5cdb95;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: 'Varela Round', sans-serif;
}

.navbar-nav .nav-item {
  margin: 10px;
}

.navbar-brand {
  font-family: 'Varela Round', sans-serif;
}

.navbar-brand img {
  width: 200px;
}

.header {
  background-image: url("../../assets/abstract.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  opacity: .8;
}

.header .left {
  width: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3%;
  margin-left: 10%;
  color: white;
}

.header .left span {
  font-family: 'Oleo Script', cursive;
  font-size: 60px;
}

.header .left span:nth-child(2) {
  text-align: center;
}

.header .left span:nth-child(3) {
  text-align: right;
}

.header .left span:nth-child(4) {
  font-size: 30px;
  padding: 20px;
  width: 170%;
  font-family: 'Varela Round', sans-serif;
}

.header .center {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 10%;
  color: white;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .center .btn {
  margin-bottom: 30px;
  width: 60%;
  border-radius: 20px;
  background: #5cdb95;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#5cdb95), color-stop(100%, #207cca), to(#b9e3c6));
  background: linear-gradient(to right, #5cdb95 0%, #207cca 100%, #b9e3c6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5cdb95', endColorstr='#b9e3c6',GradientType=1 );
  /* IE6-9 */
  padding: 15px;
  border: 4px solid white;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.header .center .btn:hover {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#207cca+0,5cdb95+100 */
  background: #207cca;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#207cca), to(#5cdb95));
  background: linear-gradient(to right, #207cca 0%, #5cdb95 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#5cdb95',GradientType=1 );
  /* IE6-9 */
  -webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
/*# sourceMappingURL=media.css.map */