@import 'variables';
@import '../../fontawesome/scss/fontawesome.scss';
@import "../../fontawesome/scss/solid.scss";
@import "../../fontawesome/scss/brands.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

html,
body {
    width: 100%;
    height: 100%;
    position: relative;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    background: $babyPowder;
}

body {

    /* dashboard */
    .container {
        display: block;
        width: 100%;
        padding-top: 45.2px;

        .row {
            display: block;
            width: 100%;

            .col.sidebar {
                width: 17%;
                height: calc(100vh - 45.2px);
                background: $seaFoamGreen;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center; 
                align-content: center;
                position: relative;
                .row {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    .menu {
                        @extend %fa-icon;
                        @extend .fas;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        flex-wrap: wrap;
                        margin-top: 40px;
                        // border: 1px solid black;
                        padding: 0;

                        li {
                            padding: 0 0 25px 15px;
                            text-align: left;
                            list-style: none;
                            margin-left: -15px;

                            a {
                                text-decoration: none;
                                color: #8c77d1;
                                &:hover{
                                    color: #7160a8;
                                }
                                &:before {
                                    font-family: 'Font Awesome\ 5 Free';
                                    font-size: 1.3em;
                                    margin-right: 5px;
                                }
                                &:after {
                                    font-family: 'Varela Round', sans-serif;
                                    font-size: 1.2em;
                                }

                                
                            }

                        }
                        //Link - dashboard
                        li#menuItem1 {
                            a:before {
                                content: fa-content($fa-var-home);
                            }

                            a:after {
                                content: 'Dashboard';
                            }
                        }

                        //Link - budget
                        li#menuItem2 {
                            a:before {
                                content: fa-content($fa-var-chart-pie);
                            }

                            a:after {
                                content: 'Budgets';
                            }
                        }

                        //Link - expenses
                        li#menuItem3 {
                            a:before {
                                content: fa-content($fa-var-wallet);
                            }

                            a:after {
                                content: 'Expenses';
                            }
                        }

                        //Link - reminders
                        li#menuItem4 {
                            a:before {
                                content: fa-content($fa-var-bell);
                            }

                            a:after {
                                content: 'Reminders';
                            }
                        }

                        //Link - groups
                        li#menuItem5 {
                            a:before {
                                content: fa-content($fa-var-user-friends);
                            }

                            a:after {
                                content: 'Groups';
                            }
                        }

                        //Link - view report
                        li#menuItem6 {
                            a:before {
                                content: fa-content($fa-var-chart-line);
                            }

                            a:after {
                                content: 'Report';
                            }
                        }

                        //Link - settings
                        li#menuItem7 {
                            a:before {
                                content: fa-content($fa-var-cog);
                            }

                            a:after {
                                content: 'Settings';
                            }
                        }
                    }

                    .profile {
                        width: 100%;
                        text-align: center;
                        display: block;

                        img {
                            width: 90px;
                            border-radius: 50px;
                        }
                    }

                }

                .close {
                    position: absolute;
                    top: 10px;
                    right: 15px;
                    font-size: 1.5em;
                    cursor: pointer;

                    a.toggleBtn:after{
                        font-family: 'Font Awesome\ 5 Free';
                        content: fa-content($fa-var-times);
                    }
                    
                }
            }

            //sidebar collapsed
            .col.sidebar.collapsed {
                width: 5%;
                .row {

                    .profile {
                        display: none;
                    }

                    .menu {
                        margin-top: 60px;
                        li {
                            padding: 0 0 40px 15px;

                            a {
                                &:before {
                                    font-size: 1.5em;
                                }
                            }
                        }
                        //Link - dashboard
                        li#menuItem1 {
                            a:before {
                                content: fa-content($fa-var-home);
                            }

                            a:after {
                                content: '';
                            }
                        }

                        //Link - budget
                        li#menuItem2 {
                            a:before {
                                content: fa-content($fa-var-chart-pie);
                            }

                            a:after {
                                content: '';
                            }
                        }

                        //Link - expenses
                        li#menuItem3 {
                            a:before {
                                content: fa-content($fa-var-wallet);
                            }

                            a:after {
                                content: '';
                            }
                        }

                        //Link - reminders
                        li#menuItem4 {
                            a:before {
                                content: fa-content($fa-var-bell);
                            }

                            a:after {
                                content: '';
                            }
                        }

                        //Link - groups
                        li#menuItem5 {
                            a:before {
                                content: fa-content($fa-var-user-friends);
                            }

                            a:after {
                                content: '';
                            }
                        }

                        //Link - view report
                        li#menuItem6 {
                            a:before {
                                content: fa-content($fa-var-chart-line);
                            }

                            a:after {
                                content: '';
                            }
                        }

                        //Link - settings
                        li#menuItem7 {
                            a:before {
                                content: fa-content($fa-var-cog);
                            }

                            a:after {
                                content: '';
                            }
                        }
                    }

                }

                .close {
                    top: 30px;
                    a.toggleBtn:after{
                        content: fa-content($fa-var-bars);
                    }
                }
            }


        }
    }
}


.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    font-family: 'Varela Round', sans-serif;

    li {
        a {
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 0.10em;
            display: inline-block;
            padding: 5px 10px;
            position: relative;

            &:after {
                background: none repeat scroll 0 0 transparent;
                bottom: 0;
                content: "";
                display: block;
                height: 2px;
                left: 50%;
                position: absolute;
                background: #fff;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                width: 0;
            }

            &:hover {
                &:after {
                    width: 100%;
                    left: 0;
                }
            }
        }

        a.navbar-brand {
            color: $white;
            font-weight: 800;
        }
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;

        .nav-item {
            margin: 10px;
        }
    }

    .navbar-brand {
        img {
            width: 200px;

        }
    }

}

.navbar.small {
    background-color: $ceil;
    padding: 0 10px;

    .navbar-brand {
        img {
            width: 150px;
        }
    }

    a {
        color: $white;

        &:after {
            background: none;
        }
    }
}

.navbar.transparent {
    background-color: transparent;
    transition: background-color .2s linear;

    a {
        color: $white
    }
}

.navbar.colored {
    background-color: $babyPowder;
    transition: background-color .2s linear;

    a {
        color: $mediumAquamarine;
    }
}

.header {
    background-image: url("../../assets/abstract.png");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: row;
    opacity: .8;


    .left {
        width: 20vw;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        margin-top: 3%;
        margin-left: 10%;
        color: white;

        span {
            font-family: 'Oleo Script', cursive;
            font-size: 60px;
        }

        span:nth-child(2) {
            text-align: center;
        }

        span:nth-child(3) {
            text-align: right;
        }

        span:nth-child(4) {
            font-size: 30px;
            padding: 20px;
            width: 170%;
            font-family: 'Varela Round', sans-serif;
        }
    }

    .center {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: flex-end;
        margin-top: 10%;
        color: white;
        flex-wrap: wrap;

        .btn {
            margin-bottom: 30px;
            width: 60%;
            border-radius: 20px;
            @include gradientBtn();
            padding: 15px;
            font-size: 1.2rem;
            letter-spacing: 1px;

            &:hover {
                @include gradientBtnReverse();
            }
        }
    }
}

/* Login */

.bg-container {
    width: 100%;
    height: 50%;
    position: relative;
}

.half-background {
    background-image: url('../../assets/abstract-sm.png');
    background-repeat: no-repeat;
    background-size: 100vw;
    width: 100%;
    height: 100%;
}

.logo {
    width: 20%;
    position: absolute;
    top: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    img {
        width: 100%;
    }

    .desc {
        text-align: center;
        color: $white;
        font-size: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}

.form-container {
    background: $white;
    min-width: 40vw;
    min-height: 65vh;
    padding: 10px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 180px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    form {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        color: #808080;

        button {
            display: block;
            width: 70%;
            border-radius: 50px;
            justify-self: center;
            font-size: 1.2em;
            @include gradientBtn();

            &:hover {
                @include gradientBtnReverse();
            }
        }

        .form-group {
            input::placeholder {
                color: #ccc;
            }
        }

        small {
            margin-top: 5px;
            text-align: center;
        }
    }




}