@import 'variables';
@import '../../fontawesome/scss/fontawesome.scss';
@import "../../fontawesome/scss/solid.scss";
@import "../../fontawesome/scss/brands.scss";
@import "colors";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}


body {
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    background: $babyPowder;
}



.btn {
    cursor: pointer;
}

a {
    color: #6CC3D5;
}

.container-fluid.homepage {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

//navbar
.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    font-family: 'Varela Round', sans-serif;

    li {
        a {
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 0.10em;
            display: inline-block;
            padding: 5px 10px;
            position: relative;
            font-size: 1em;
            font-weight: 500;

            &:after {
                background: none repeat scroll 0 0 transparent;
                bottom: 0;
                content: "";
                display: block;
                height: 2px;
                left: 50%;
                position: absolute;
                background: #fff;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                width: 0;
            }

            &:hover {
                &:after {
                    width: 100%;
                    left: 0;
                }
            }
        }

        a.navbar-brand {
            color: $white;
            font-weight: 800;
        }
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;

        .nav-item {
            margin: 10px;
        }
    }

    .navbar-brand {
        img {
            width: 200px;

        }
    }

}

.navbar.small {
    background-color: $ceil;
    padding: 0 10px;
    z-index: 1;

    .navbar-brand {
        img {
            width: 150px;
        }
    }

    a {
        color: $white;
        font-size: 1em;

        &:after {
            background: none;
        }
    }
}

.navbar.transparent {
    background-color: transparent;
    transition: background-color .2s linear;

    a {
        color: $white
    }
}

.navbar.colored {
    background-color: $babyPowder;
    transition: background-color .2s linear;

    a {
        color: $mediumAquamarine;
    }
}

//homepage
.header {
    background-image: url("../../assets/abstract.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: row;
    opacity: .8;


    .left {
        width: 20vw;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        margin-top: 3%;
        margin-left: 10%;
        color: white;

        span {
            font-family: 'Oleo Script', cursive;
            font-size: 60px;
        }

        span:nth-child(2) {
            text-align: center;
        }

        span:nth-child(3) {
            text-align: right;
        }

        span:nth-child(4) {
            font-size: 30px;
            padding: 20px;
            width: 170%;
            font-family: 'Varela Round', sans-serif;
        }
    }

    .center {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: flex-end;
        margin-top: 10%;
        color: white;
        flex-wrap: wrap;

        .btn {
            margin-bottom: 30px;
            width: 60%;
            border-radius: 20px;
            @include gradientBtn();
            padding: 15px;
            font-size: 1.2rem;
            letter-spacing: 1px;

            &:hover {
                @include gradientBtnReverse();
            }
        }
    }
}

//login/register
.logo {
    width: 20%;
    position: absolute;
    top: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    img {
        width: 100%;
    }

    .desc {
        text-align: center;
        color: $white;
        font-size: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}

.form-container {
    background: $white;
    min-width: 40vw;
    min-height: 65vh;
    padding: 10px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 180px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    form {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        color: #808080;

        a.btn,
        .btn-block {
            display: block;
            width: 70%;
            border-radius: 50px;
            justify-self: center;
            font-size: 1.2em;
            font-family: 'Varela Round', sans-serif;
            @include gradientBtn();

            &:hover {
                @include gradientBtnReverse();
            }
        }

        .form-group {
            input::placeholder {
                color: #ccc;
            }
        }

        small {
            margin-top: 5px;
            text-align: center;
        }
    }

}

//dashboard
.my-container.offset-container {
    margin-top: 45.2px; //offset Y from navbar
}

.my-container {
    height: 100vh;

    .row {
        position: relative;

        .col-10-body {
            width: 88%;
            margin-bottom: 40px;

            background: $babyPowder;
            margin-left: 12%;
            padding: 30px 30px 0 30px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;

            .row {
                justify-content: center;
                width: 80%;

                // margin-bottom: 20px;
                .card {
                    margin: 10px;

                    .card-body {
                        padding: 0.8rem;
                        a.btn {
                            font-size: 0.9em;
                            font-family: 'Varela Round', sans-serif;


                            i {
                                margin-left: 3px;
                            }
                        }

                        a.btn.right {
                            float: right;
                        }
                    }
                    .card-body.reminders{
                        padding: 0;
                    }
                }
            }

            .row.sm {
                width: 50%;
                margin: auto;
            }

            .col {

                .card.settings,
                .card.groupView {
                    .card-body {

                        .row {

                            width: 100%;
                            margin: auto;
                        }
                    }

                }
            }
        }

        .col-2-sidebar.sidebar {
            width: 12%;
            height: 100vh;
            padding: 0 10px;
            background: $seaFoamGreen;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            position: relative;
            overflow-x: hidden;

            .close {
                position: absolute;
                top: 10px;
                right: 10px;

                a.toggleBtn:after {
                    font-family: 'Font Awesome\ 5 Free';
                    content: fa-content($fa-var-times);
                }

            }

            .profile {
                width: 100%;
                text-align: center;
                display: block;

                img {
                    width: 90px;
                    border-radius: 50px;
                }
            }

            .menu {
                @extend %fa-icon;
                @extend .fas;
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex-wrap: wrap;
                margin-top: 40px;
                // border: 1px solid black;
                padding: 0;

                li {
                    padding: 0 0 25px 15px;
                    text-align: left;
                    list-style: none;
                    margin-left: -15px;

                    a {
                        text-decoration: none;
                        color: #8c77d1;

                        &:hover {
                            color: #7160a8;
                        }

                        &:before {
                            font-family: 'Font Awesome\ 5 Free';
                            font-size: 1.3em;
                            margin-right: 7px;
                        }

                        &:after {
                            font-family: 'Manjari', sans-serif;
                            font-size: 1.1em;
                            letter-spacing: 0.5px;
                        }

                    }

                    a.active {
                        color: #7160a8;
                    }

                }

                //Link - dashboard
                li#menuItem1 {
                    a:before {
                        content: fa-content($fa-var-home);
                    }

                    a:after {
                        content: 'Dashboard';
                    }
                }

                //Link - budget
                li#menuItem2 {
                    a:before {
                        content: fa-content($fa-var-chart-pie);
                    }

                    a:after {
                        content: 'Budgets';
                    }
                }

                //Link - expenses
                li#menuItem3 {
                    a:before {
                        content: fa-content($fa-var-wallet);
                    }

                    a:after {
                        content: 'Expenses';
                    }
                }

                //Link - reminders
                li#menuItem4 {
                    a:before {
                        content: fa-content($fa-var-list);
                    }

                    a:after {
                        content: 'Reminders';
                    }
                }

                //Link - groups
                li#menuItem5 {
                    a:before {
                        content: fa-content($fa-var-user-friends);
                    }

                    a:after {
                        content: 'Groups';
                    }
                }

                //Link - view report
                li#menuItem6 {
                    a:before {
                        content: fa-content($fa-var-chart-line);
                    }

                    a:after {
                        content: 'Report';
                    }
                }

                //Link - settings
                li#menuItem7 {
                    a:before {
                        content: fa-content($fa-var-cog);
                    }

                    a:after {
                        content: 'Settings';
                    }
                }

                //Link - notifications
                li#menuItem8 {
                    a:before {
                        content: fa-content($fa-var-bell);
                    }

                    a:after {
                        content: 'Notifications';
                    }
                }
            }

        }

        //collapsed
        .col-10-body.collapsed {
            width: 95%;
            margin-left: 5%;
        }

        .col-2-sidebar.sidebar.collapsed {
            width: 5%;

            .close {
                top: -10px;
                left: 0;
                position: relative;
                align-self: center;

                a.toggleBtn:after {
                    content: fa-content($fa-var-bars);
                }
            }

            .profile {
                display: none;
            }

            .menu {
                margin-top: 40px;

                li {
                    padding: 0 0 40px 50%;

                    a {
                        &:before {
                            font-size: 1.5em;
                        }
                    }
                }

                //Link - dashboard
                li#menuItem1 {
                    a:before {
                        content: fa-content($fa-var-home);
                    }

                    a:after {
                        content: '';
                    }
                }

                //Link - budget
                li#menuItem2 {
                    a:before {
                        content: fa-content($fa-var-chart-pie);
                    }

                    a:after {
                        content: '';
                    }
                }

                //Link - expenses
                li#menuItem3 {
                    a:before {
                        content: fa-content($fa-var-wallet);
                    }

                    a:after {
                        content: '';
                    }
                }

                //Link - reminders
                li#menuItem4 {
                    a:before {
                        content: fa-content($fa-var-list);
                    }

                    a:after {
                        content: '';
                    }
                }

                //Link - groups
                li#menuItem5 {
                    a:before {
                        content: fa-content($fa-var-user-friends);
                    }

                    a:after {
                        content: '';
                    }
                }

                //Link - view report
                li#menuItem6 {
                    a:before {
                        content: fa-content($fa-var-chart-line);
                    }

                    a:after {
                        content: '';
                    }
                }

                //Link - settings
                li#menuItem7 {
                    a:before {
                        content: fa-content($fa-var-cog);
                    }

                    a:after {
                        content: '';
                    }
                }

                //Link - notifications
                li#menuItem8 {
                    a:before {
                        content: fa-content($fa-var-bell);
                    }

                    a:after {
                        content: '';
                    }
                }
            }
        }

    }

    ///end of row////

    //login/register background
    .row.half {
        height: 50%;

        .half-background {
            background-image: url('../../assets/abstract-sm.png');
            background-repeat: no-repeat;
            background-size: 100vw;
            width: 100%;
            height: 100%;
        }
    }

}

//dashboard card content
ul.groups-list {
    list-style-type: square;
    margin-left: 10px;

}

.progress-container {
    margin-top: 10px;
}

//tables
.table.expenses{
    margin-bottom: 0;
    tr {
        td{
            padding: 0.5rem;
        }
    }
    
}



table.budget {
    border: none;
    margin: 0;

    tr {
        margin: 0;

        td {
            border: none;
        }

        td:first-of-type {
            width: 15%;
            font-size: 1.3em;
            vertical-align: bottom;
        }

        td:nth-of-type(2) {
            width: 65%;
            text-align: right;

        }

        td:nth-of-type(2) {
            width: 65%;

            .progress {
                height: 25px;
            }
        }

        td:nth-of-type(3) {
            width: 15%;
            text-align: center;
            vertical-align: bottom;

            i {
                font-size: 20px;
                padding: 0 10px;
            }
        }
    }
}

table.balance {
    width: 90%;
    tr {
        
        td:first-of-type {
            padding-right: 10px;
        }

        td:nth-of-type(2) {
            text-align: right;
        }
    }
}

.table.expenses,
.table.reminders,
.table.settings {
    border: none;
    display: flex;
    align-content: center;
    flex-flow: column wrap;
    thead{
        tr{
            th{
                text-align: left;
            }
        }
    }
    tbody{
        width: 100%;

    }
    
    tr {
        border-bottom: 1px solid rgb(236, 236, 236);
        display: flex;
        width: 100%;

        td {
            border: none;
            flex:1;
            text-align: left; 

            i {
                margin-right: 10px;
            }

            .circle {
                width: 10px;
                height: 10px;
                border-radius: 50px;
                display: inline-block;
                margin-right: 3px;
            }
        }
    }
}

.table.expenses {
    tr {
        td:first-of-type {
            text-align: left;
        }
        td:last-of-type {
            text-align: right;
        }
    }
}

.table.table.reminders {
    tr {
        td:first-of-type {
            text-align: left;
        }
        td:last-of-type {
            text-align: right;
        }
    }
}

.table.settings {
    tr {
        border: none;
        td {
            border: none;
            
        }
    }
}

.table.settings2 {
    tr {
        td {
            position: relative;
            text-align: left;

            a {
                margin: 0 2px;
            }
            .badge {
                font-size: 13px;
                letter-spacing: 1px;
                padding: 5px;
            }

        }
    }

    tr.borderless, td.borderless {
        border-top: none;
        padding-top: 0;
    }

}
.dashboard-reminders .title{
    color: #808080;
    font-size: 13px;
    &:before{
        font-family: "Font Awesome 5 Free";
        content: '\f024';
        display: inline-block;
        // transform: scaleX(-1);
        margin-right: 5px;
        color: #808080;
    }
}

table.dashboard-reminders.table-striped{
    tbody{
        tr {
            display: flex;
            flex: 1;
            background-color: rgb(250, 250, 250);
            td {
            border:0; 
            padding: 0.4rem; 
            color: #808080;
            }
        }
        tr:hover{
            background-color: rgb(238, 238, 238);
        }
    }
    
    
    thead {
        tr {
            display: flex;
            flex: 1;
            th {
              border: none; 
              padding: 0.4rem; 
              color: #808080;
            }
            
        }
    }

    thead.thead-light th{
        // background-color: lightgrey;
        color: #808080;
    }
}


.table.borderless{
    tr{
        td{
            border: none;
        }
    }
    tr:nth-child(2){
        td{
            padding-top:0;
        }
        
    }
    
}

.table .thead-light th{
    background-color: transparent;
    border: none;
}

//cards
.card.budget {
    padding: 10px;
}



.card-text {
    display:flex; justify-content:center;align-content:center;flex-wrap:no-wrap;
}

.menu,
.card-title,
h1,
h2,
h3 {
    font-family: 'Varela Round', sans-serif;
}

h1.title {
    // text-transform: uppercase;
    font-size: 1.7em;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

.card.group {
    padding: 5px;

    .card-body {
        display: flex;
        padding: 5px;

        .row {
            width: 100%;

            .col-3 {
                margin-right: 20px;

                img {
                    width: 80px;
                    opacity: .8;
                }

            }

            .col-8 {
                h1.card-title {
                    font-size: 1.4rem;
                    font-family: 'Varela Round', sans-serif;
                    margin-top: 3px;
                    padding-bottom: 5px;
                    border-bottom: 1px solid #ddd;
                    text-align: center;
                }

                .links {
                    text-align: center;
                }

            }

        }

    }
}


// progress bar
.progress.expense {
    height: 18px;
}

//floating button
.add-btn {
    width: 60px;
    height: 60px;
    color: white;
    border-radius: 50px;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    cursor: pointer;
}

//popup box
form.popup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    .form-group {
        display: flex;
        width: 70%;
        justify-content: space-between;

        label {
            width: 20%;
        }

        table {
            width: 100%;

            tr {
                width: 100%;
                display: flex;

                td {
                    display: flex;

                    &:nth-child(1) {
                        flex: 1;
                    }

                    &:nth-child(2) {
                        justify-content: flex-end;
                        flex: 2;

                        .dropdown {
                            width: 100%;
                        }

                        .input-group {
                            width: 100%;
                        }
                    }
                }

            }
        }

        .dropdown,
        .input-group {
            width: 70%;
            justify-content: space-between;

            input.block {
                width: 100%;
            }

            .btn-round {
                padding: 3px;
                width: 30px;
                height: 30px;
                border-radius: 50px;
                text-align: center;
                vertical-align: center;
            }
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.377);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 2;

    &:target {
        visibility: visible;
        opacity: 1;
    }

    .popup {
        margin: 5% auto;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        width: 40%;
        position: relative;
        transition: all 5s ease-in-out;

        .close {
            position: absolute;
            top: -10px;
            right: 0;
            transition: all 200ms;
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
            color: #333;

            &:hover {
                color: rgb(35, 37, 36);
            }
        }

        .content {
            max-height: 30%;
            overflow: auto;
            position: relative;
        }

    }
}

.selectpicker {
    option {
        img {
            width: 10px;
        }
    }
}

select#groupIcon option[value="icon-1"] {
    background-image: url("/assets/icons/icon-1.png");
}

//checkbox
.checkbox {
    opacity: 0;
    position: relative;
    z-index: 99;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    left: 10px;
    cursor: pointer;
}

.pseudo-checkbox {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 20px;
    height: 20px;
    opacity: 1;
    border: 3px solid rgb(102, 184, 201);
    cursor: pointer;
}


//custom radiobutton
/* The container */
.container {
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
    padding-left: 0;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(102, 184, 201);
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: rgb(255, 255, 255);
}

/* When the radio button is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: rgb(255, 255, 255);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FF7851;
}

button.btn-round {
    padding: 0;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    text-align: center;
    vertical-align: center;
    font-size: 1.5rem;
    font-weight: 800;
}

hr {
    margin: 30px 0;
}

.form-control {
    color: #8c8c8c;
}

.form-control input:focus {
    color: #000;
}


td a i:hover {
    cursor: pointer;
}

#editCategoryName {
    background: transparent;
    border: transparent;
}

small.left {
    float: left;
    &:after {
        content: "";
        clear: both;
        display: table-cell;
    }
}

small.right {
    float:right;
    &:after {
        content: "";
        clear: both;
        display: table-cell;
    }
}


// mini budget overview
section.mini-section{
    margin: auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
  }
  
  .progress.budget-overview{
    overflow: visible;
  }
  
  .budget-progress {
    position: relative;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;

  }
  
  .budget-progress:before{
    position: absolute;
    right: calc(-40px);
    top: -45px;
    width:auto;
    padding: 3px;
    content: 'RM 50.00 left';
    color: white;
    background-color: #F3969A;
    border-radius: 5px;
    font-size: 11px;
  }
  .budget-progress:after{
    border-right: 3px solid #F3969A;
    padding:20px;
    position: absolute;
    right: 0;
    bottom:0;
    content: '';
  }
  
  table.table-overview{
    padding:0;
    margin:0;
    width: 100%;
    // border: 1px solid black;
  }
  
  table.table-overview tr td:nth-child(1){
    text-align: right;
  }
  table.table-overview tr td:nth-child(2){
    text-align: left;
  }

  table.table-overview tr td span{
      font-size: 11px;
      margin: 3px;
  }

//   icons
.fa-square, .fa-check-square{
    font-size: 18px;
}